/* ========================= */
/* FONDO GENERAL */
/* ========================= */

body {

  background-color: #303030;

  margin: 0;

  font-family: Arial, sans-serif;
}

/* ========================= */
/* CONTENEDOR PRINCIPAL */
/* ========================= */

.contenedor-ofertas {

  width: 90%;

  margin: auto;

  padding: 20px;
}

/* ========================= */
/* TITULO */
/* ========================= */

h1 {

  text-align: center;

  color: #ffcb05;
}

.subtitulo {

  text-align: center;

  color: rgb(255, 250, 250);

  margin-bottom: 30px;
}

/* ========================= */
/* GRID DE PRODUCTOS */
/* ========================= */

.cartas {

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  gap: 20px;
}

/* ========================= */
/* TARJETA */
/* ========================= */

.carta {

  width: 250px;

  background: rgb(54, 54, 54);

  padding: 15px;

  border-radius: 10px;

  text-align: center;
}

/* IMAGEN */

.carta img {

  width: 100%;

  height: 220px;

  object-fit: cover;

  border-radius: 5px;
}

/* PRECIO ANTERIOR */

.precio-anterior {

  color: gray;

  text-decoration: line-through;
}

/* PRECIO OFERTA */

.precio {

  color: red;

  font-size: 24px;

  font-weight: bold;
}

/* BOTÓN */

button {

  width: 100%;

  padding: 10px;

  border: none;

  background: #cc0000;

  color: white;

  cursor: pointer;

  border-radius: 5px;
}

button:hover {

  background: #990000;
}