/* FONDO GENERAL */
.registro-container {

  min-height: 100vh;

  background-color: #303030;

  display: flex;

  justify-content: center;

  align-items: center;
}

/* TARJETA */
.registro-card {

  width: 400px;

  background: rgb(0, 0, 0);

  padding: 25px;

  border-radius: 10px;

  border-top: 5px solid #ffcb05;
}

/* TITULO */
.registro-card h2 {

  text-align: center;

  color: #cc0000;

  margin-bottom: 15px;
}

.registro-card p {

  text-align: center;

  margin-bottom: 20px;
}

/* CAMPOS */
.grupo {

  margin-bottom: 15px;
}

.grupo label {

  display: block;

  margin-bottom: 5px;
}

.grupo input {

  width: 100%;

  padding: 10px;

  border: 1px solid #ccc;

  border-radius: 5px;
}

/* BOTON */
button {

  width: 100%;

  padding: 12px;

  background: #cc0000;

  color: white;

  border: none;

  border-radius: 5px;

  cursor: pointer;
}

button:hover {

  background: #990000;
}