.login-container {

  min-height: 100vh;

  background: #303030;

  display: flex;

  justify-content: center;

  align-items: center;
}

.login-card {

  width: 380px;

  background: rgb(0, 0, 0);

  padding: 25px;

  border-radius: 10px;

  border-top: 5px solid #ffcb05;
}

.login-card h2 {

  text-align: center;

  color: #cc0000;
}

.login-card p {

  text-align: center;

  margin-bottom: 20px;
}

.grupo {

  margin-bottom: 15px;
}

.grupo label {

  display: block;

  margin-bottom: 5px;
}

.grupo input {

  width: 100%;

  padding: 10px;

  border: 1px solid #ccc;

  border-radius: 5px;
}

.check {

  margin-bottom: 15px;
}

button {

  width: 100%;

  padding: 12px;

  background: #cc0000;

  color: white;

  border: none;

  border-radius: 5px;

  cursor: pointer;
}

.registro {

  text-align: center;

  margin-top: 15px;
}

.registro a {

  color: #cc0000;

  text-decoration: none;
}